# YAML -*- mode: yaml; tab-width: 2; indent-tabs-mode: nil; coding: utf-8 -*-
---
name: z-wave-protocol-controller Build in rootfs for arch

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
          # - armhf # TODO Enable when supported
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - id: describe
        name: Describe HEAD
        run: >-
          echo "describe=$(git describe --tags --always || echo 0)"
          | tee $GITHUB_OUTPUT
      - name: Setup and build
        run: >-
          ARCH=${{ matrix.arch }}
          UNIFYSDK_GIT_REPOSITORY=${{ secrets.UNIFYSDK_GIT_REPOSITORY }}
          UNIFYSDK_GIT_TAG=${{ secrets.UNIFYSDK_GIT_TAG }}
          ./scripts/build-rootfs.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          # yamllint disable-line rule:line-length
          name: ${{ github.event.repository.name }}-${{ steps.describe.outputs.describe }}-${{ matrix.arch }}
          path: build/dist/
      - name: Upload Release Asset
        id: upload-release-asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/dist/*
          # yamllint disable-line rule:line-length
          # TODO: Sign asset: https://github.com/softprops/action-gh-release/issues/580#2025
          token: ${{ secrets.GH_UNIFY_ACCESS_TOKEN }}
